._btn_st {
    color: white;
    border-color: white;
    background: transparent;
    height: 50px;
    width: 200px;
}

._position_col {
    position: absolute;
    bottom: 10%;
}

._margin {
    margin-top: 3%;
}

._center_st {
    text-align: center;
}